*{
	/* remove default highlighted orange on touch */
	outline:none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 

}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }


input {
/*    height: 30%; */
    width: 33.333%;
    height:34.333%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-size: 1.8em;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    overflow: visible;
    display: inline-block;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 10px;
/*    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1) inset; */
    margin: 0px;
    padding: 0px;
    color: darkblue;
}

body{
	margin:0;
	padding:0;
	height: 100%;
	background-color: lightgrey;
}

#header {
	background-color:black;
	height: 4%;
}

#header * {
	background-image: -webkit-linear-gradient(#353535, #212021 55%, #090809 55.1%, #050405);
	text-align: center;
	line-height: 2em;
	color: white;
    font-weight: bold;
    padding: 0.4em 0.6em 0.5em 0.6em;
}

#header a {
	border: 1px solid #5A5A5A;
    -webkit-box-shadow: rgba(73, 73, 73, 0.4) -2px -2px 2px 2px inset;
    -webkit-border-radius: 0.5em;
    text-shadow:rgba(0, 0, 0, 1) 3px -1px 0px;	
    letter-spacing: 0;
    padding: 0.2em 0.5em 0.2em 0.5em;
    text-decoration: none;
    text-transform: none;
    position: absolute;
}

.cssgradients #header {
	background-image: -webkit-linear-gradient(#353535, #212021 55%, #090809 55.1%, #050405);
}

#board {
	height:75%;
	background-color: ghostwhite;
}

#board>div {
	background-color: darkGray;
}


#paused {

	display: block;
	height: 75%;
	background-color: #000;
	opacity: 0.95;
	z-index: 500;
	right: 0;
	top: 6.5%;
	left: 0;
	bottom: 0;
	position:absolute;
}

div {
	width: 100%;
	height: 33.333%;
	display: inline-table;
	margin: 0px;
}

.border {
	border: 1px solid black;
	width: 33.333%;
	height: 100%;
}

.left{
	border-left: none;
}

.right{
	border-right: none;
}

.top{
	border-top: none;
}

.bottom{
	border-bottom: none;
}

#buttons {
	height: 10%;
}

/*div #buttons {
	list-style-type: none;
	width: 100px; 
	padding: 0;
	margin: 0;
}*/

#buttons li{
	display: inline-block;
	margin: 0 0 0 1%;
	width: 23%;
	height: 100%;
}

#buttons li a{
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0.15em;
	text-align: center;
	line-height: 1.3em;
	color: white;
	text-decoration: none;
	background-color: gray;
	border: 1px solid #5A5A5A;
	border-radius: 10px;
    -webkit-box-shadow: rgba(73, 73, 73, 0.4) -2px -2px 2px 2px inset;
    -webkit-border-radius: 0.5em;
    text-shadow:rgba(0, 0, 0, 1) 1px -1px 0px;
    font-size:1.5em;
}

ul {
	width: 100%;
	height: 50%;
}

#numbers li{
	margin: 0 0 0 1.1%;
	width: 9%;
	font-size: 1.2em;
}

div[id$="Menu"] ul {
	width: 300px;
	height: 50px;
	top: 35%;
	left: 50%;
	margin-left: -150px;
	position: absolute;
}

#typeMenu li, #mainMenu li {
	margin: 0 0 0 1%;
	display:initial;
	text-align: center;	
}

div[id$="Menu"] li a{
	vertical-align:baseline;
	line-height: 1.1em;	
}

input.selected {
	background-color: cyan;
	border: 2px solid gold;
	margin: 0px;
}

.relevant{
	background-color: rgba(255,170,170,0.9);
	
}

input:disabled {
	color:black;
	-webkit-text-fill-color:black;
	-webkit-opacity: 1;
	font-weight:800;
}

#buttons li #note.notes {
	color: green;
	border-color: white;
	text-shadow: rgba(255, 255, 255, 1) 1px -1px 0px;
	background-color: greenYellow;
}

::-webkit-input-placeholder {
	font-size: 0.4em;
	font-weight:800;
	color:green;
}

#Clock {
/*	float:right; */
	right: 0;
	top: 0;
}

#wrapper, #typeMenu {
	height: 100%;
	width: 100%;
	display: none;
}

div#wrapper.current, div#typeMenu.current {
	display:block;
}

